@media screen and (min-width: 0px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nickname{
        padding-left: 15px;
        font-size: 20px;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flexInput{
        padding-bottom: 18px;
         width: 500px;
         display: flex;
         justify-content: center;
         align-items: center;
    }
    .flexInput input{
        width: 100%;
        border: 1px solid rgb(231, 231, 231);
        color: black;
        padding: 6px 10px 6px 10px;
        border-radius: 4px;
        font-size: 12px;
        background-color: #fafafa;
        outline: 0;
        height: 36px;
 }
 .flexInput input:focus{
    border: 1px solid rgb(179, 177, 177);
}
    .flexInput div:nth-child(1){
        width: 140px;
        font-size: 13px;
        font-weight: 500;
        text-align: right;
        padding-right: 20px;
    }
    .flexInput div:nth-child(2){
         width: 260px;
     }
     .submit{
        text-align: center;
        cursor: pointer;
        background-color: #0095f6;
        color: white;
        font-weight: bold;
        outline: 0;
        border: 0;
        border-radius: 4px;
        padding: 8px;
        font-size: 11px;
   }
   .submit:disabled{
    opacity: 0.4;
}
 }
 @media screen and (min-width: 620px) {
 }
 @media screen and (min-width: 960px) {
 }
 @media screen and (min-width: 1200px) {
 }
 