@media screen and (min-width: 0px) {
    .container{
        width: 800px;
        background-color: white;
        border: 1px solid rgb(214, 214, 214);
        font-size: 11px;
    }
 } 
 
 @media screen and (min-width: 620px) {
    
 } 
 
 @media screen and (min-width: 960px) {
     
 }
 
 @media screen and (min-width: 1200px) {
 
 } 