@media screen and (min-width: 0px) {
    .container{
        margin-left: 30px;
        width: 300px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 11px;
   }
    .profileSection{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
   }
   .nickname{
       color: #8e8e8e;
       font-weight: 400;
   }
    .info{
        display: block;
        color: #262626;
        max-width: 150px;
        white-space: nowrap;
        flex: 0 0 300px 
   }
    .link{
        cursor: pointer;
        color:#0095f6;
        font-weight: bold;
   }
    .suggestSection{
        padding: 0 20px 0 20px;
   }
    .subtitleSuggest{
        font-size: 11px;
        font-weight: 600;
        color: #8e8e8e;
   }
    .aboutSection{
        padding: 20px;
   }
    .aboutLinks{
        color: rgb(172, 172, 172);
   }
   .followFriends{
    color: #8e8e8e;
   }
}
@media screen and (min-width: 620px) {
}
@media screen and (min-width: 960px) {
}
@media screen and (min-width: 1200px) {
}
