.main {
  min-height: 50vh;
  width: 100vw;
  background-color: #fafafa;
  padding-top: 20px;
  padding-left: 400px;
  padding-right: 400px;
  max-width: 100%;
}
.container{
  display: flex;
  justify-content: center;
}
