@media screen and (min-width: 0px) {
  .main {
    min-height: 50vh;
    width: 100vw;
    max-width: 100%;
    /* background-color: #fafafa; */
    padding: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .container>div:first-child {
    width: 100%;
    background-color: red;
  }

  .container>div:nth-child(2) {
    width: 100%;
    /* padding-top: 20px; */
    
  }

}

@media screen and (min-width: 620px) {

  .container {
    flex-direction: row;
    align-items:inherit

  }

  .container>div:first-child {
    width: 300px;
  }

  .container>div:nth-child(2) {
    width: 600px;
    padding-top: 0px;

  }
  
}

@media screen and (min-width: 960px) {}

@media screen and (min-width: 1200px) {}