@media screen and (min-width: 0px) {
    .card{
        display: flex;
        background-color: white;
        flex-direction: column;
        margin-top: 30px;
        border: 1px solid rgb(214, 214, 214);
        font-size: 11px;
   }
    .nameUser{
        padding-left: 8px;
        font-weight: 500;
   }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
   }
    .icon{
        cursor: pointer;
   }
    .buttonGroup{
        display: flex;
        justify-content: space-between;
   }
    .buttonGroupLeft{
        display: flex;
   }
    .buttonGroupLeft>div{
        cursor: pointer;
        padding-right: 10px;
   }
    .bottom{
        padding: 20px 20px 15px 20px;
    }
   .inputGroup{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input{
        font-size: 11px;
        width: 100%;
        outline: 0;
        border: 0;
        padding: 10px;
    }
 
    .link{
        font-size: 12px;
        color: #0095f6;
        font-weight: 500;
    }

    .imageViewed{
        outline: 1.5px solid;
        outline-color: rgb(182, 181, 181);
        outline-offset: 2px;
   }
    .imageNotViewed{
        outline: 2px solid;
        outline-color: rgb(228, 144, 0);
        outline-offset: 2px;
   }

   .postImage{
    position: relative; 
    aspect-ratio : 1 / 1;
    width:100%;
}
   
}
@media screen and (min-width: 620px) {
}
@media screen and (min-width: 960px) {
}
@media screen and (min-width: 1200px) {
}
