@media screen and (min-width: 0px) {
    .container{
        background-color: black;
        height: 100vh;
        width: 100vw;
        max-width:100%;
        /* opacity:0.9; */
        color: white;
        position: fixed;
        top: 0;
        z-index: 999999;
    }
    .logo{
        cursor: pointer;
        z-index: 9999;
    }
    .header{
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 20px;
    }
    .body{
        border:1px solid red;
        position: absolute;
        top: 0;
        padding: 20px;
        width: 100vw;
        height: 100vh;
    }
    .progressContainer {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      
      .item{
          /* border: 1px solid green; */
      }
      .itemCarousel{
          width: 300px!important;
          height: 500px!important;
          position: relative;
          padding-top: 50% ;
          
          /* margin-top:20% */
      }

      .progress {
        height: 2px;
        flex-grow: 1;
        border-radius: 4px;
        margin: 0 5px;
        display: flex;
      }
      .progress::-moz-progress-bar { background: rgb(241, 241, 241); }
        .progress::-webkit-progress-value { background: rgb(241, 241, 241); }
        .progress { color: rgb(241, 241, 241); }

      .headerStory{
          display: flex;    
          justify-content: space-between;
          padding: 8px 16px 8px 16px;
          font-size: 18px;
      }
      .nickname{
          padding-left: 10px;
          font-size: 14px;
      }
      .timeago{
          padding-left: 10px;
          color: rgb(182, 182, 182);
          font-size: 14px;
      }
      .profile{
          display: flex;
          align-items: center;
      }
      .icons{
          display: flex;
          align-items: center;
      }
      .icons div{
        padding-left: 10px;
    }
    .backgroundHeader{
        opacity: 0.9;
        background: linear-gradient(to bottom, rgb(48, 48, 48), transparent);
        padding-bottom: 20px;
    }
  }
  @media screen and (min-width: 620px) {
  }
  @media screen and (min-width: 960px) {
  }
  @media screen and (min-width: 1200px) {
  }
  